<style>
        /* Bordered form */
    form {
    border: 3px solid #f1f1f1;
    }

    /* Full-width inputs */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    
    }

    /* Set a style for all buttons */
    button {
    background-color: rgb(111, 86, 194);
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-family: 'Gill Sans', sans-serif;
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    }

    /* Add a hover effect for buttons */
    button:hover {
    opacity: 0.8;
    }

    /* Extra style for the cancel button (red) */
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    }

    /* Center the avatar image inside this container */
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    }

    /* Avatar image */
    img.avatar {
    width: 40%;
    border-radius: 50%;
    }

    /* Add padding to containers */
    .container {
    padding: 16px;
    }

    /* The "Forgot password" text */
    span.psw {
    float: right;
    padding-top: 16px;
    font-family: 'Gill Sans', sans-serif;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    }
</style>


<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="https://i.pinimg.com/originals/79/f6/a9/79f6a9e046d4a19afea21cdd242cb8e9.jpg" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw">
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    
  </form>

  <body>
    <a href="/"><button class="button1">Back to Home</button></a>
  </body>